.axis path,
.axis line{
    fill: none;
    stroke: black;
    /*stroke-width: 1.5px;*/
}

.line{
    fill: none;
    stroke-width: 2px;
}

.tick text{
    font-size: 12px;
}

.tick line{
    opacity: 0.4;
}

.label {
    text-anchor: middle;
    font-weight: bold;
    font-family: inherit;
}

#graph {
    /*margin-left: 10px;*/
    /*float: right;*/
}

.area {
    fill: #b366ff;
    opacity: 0.3;
}

.area2 {
    fill: #ffc018;
    opacity: 1;
}