.axis path,
.axis line{
    fill: none;
    stroke: black;
}

.line{
    fill: none;
    stroke-width: 2px;
}

.tick text{
    font-size: 12px;
}

.tick line{
    opacity: 0.2;
}

.label {
    text-anchor: middle;
    font-weight: bold;
    font-family: inherit;
}